.LandingPagewrapper{
    padding: 50px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: var(--color-backgroundBlack);
}
.bodyWrapper{
    padding: 50px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
     gap: 170px;
}

.footer{
    padding: 50px;
    padding-left: 200px;
    padding-right: 200px;
    height: 367px;
    background-color: var(--color-backgroundBlack);
   
}