:root{
  --color-primary:#E3B748;
  --color-black:#121212;
  --color-white:#FFFFFF;
  --color-backgroundBlack:rgba(17, 17, 17, 1);
  
}

*::before,
*::after{
  box-sizing: border-box;
}
*{
 margin: 0;
}


html,body{
  height: 100%;
}


body{
  font-family:  "Inter",sans-serif;
  line-height: 1.5;
  color: var(--color-white);
  background: #1D1D1D;
  overflow-x: hidden;
}

img,svg{
  display: block;
  max-width: 100%;
}

.swiper-slide{
  width: auto !important;
}

.MuiAccordion-root{
  background-color: #1D1D1D !important;
  font-family:  "Inter",sans-serif !important;
  color: var(--color-white) !important;
  width: 100% !important;
 

}
.MuiAccordion-rounded{
  border-radius: 10px !important;
}

.MuiAccordionSummary-expandIconWrapper{
  color: var(--color-white) !important;
  font-size: 24px !important;
  
  font-weight: 600 !important;
}

.MuiAccordionDetails-root{
  color: var(--color-white);
  background-color: #1D1D1D;
  font-size: 18px !important;

font-weight: 500 !important;
opacity: 0.3;
}
